/*********** GENERAL ************/

header {
text-align: center;
}

body {
    margin: 0;
    background-color: navajowhite;
}

.home {
    background-image: url('background.png');
}

.item{
    background-image: url('item_b.png');
}

.stylish {
    font-weight: bold;
    color: saddlebrown
  }

.button {
    background-color: #C9895E;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    border: none;
    border-radius: 20px;

}
/*********** HEADER ************/
   
header {
    text-align: center;
    padding: 10px;
    background-color: saddlebrown;
    color: white;
}

body {
    margin: 0;
    color: saddlebrown;
}

h1 {
    margin: 0;
}
/*********** HOME PAGE ************/

#box{
    width: 100%;
    height: 405px;
    margin-top: 70px; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 200%;
}
.square {
    background-color: #ffffff;
    border-radius: 15px;
    border: 20px solid white;
}

.rr{
    border-radius: 15px;
}

.text {
    align-items: center; 
}

.words {
    font-size: 45px;
}
.words1 {
    color: sienna;
    font-size: 30px;
}


/*********** MENU PAGE ************/

#container {
    position: relative;
    margin-top: 30px; 
    text-align: center;
    align-items: center;
}


.content {
    position: absolute; 
    top: 130px; 
    left: 0; 
    width: 100%; 
    font-size: 22px;

}

.words4 {
    font-size: 30px;
}
/*********** ITEM DETAILS ************/

#sq{
    margin-top: 100px;
    margin-right: 100px;
    text-align:center;
    align-items:center;
    height: 100px;

}

img {
    height: 405px;
    width: 1250;
}

.item {
    border-radius: 50%;
}

#box2{
    margin-top: 80px; 
    display: flex;
    text-align: center;
    right: 170px;
    position: absolute;
    padding: 20px;
}

#box3{
    margin-top: 35px; 
    display: flex;
    text-align: center;
    right: 470px;
    position: absolute;
    padding: 20px;
}

.button3 {
    background-color:tan;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    border: none;
    border-radius: 20px;

}

.button4 {
    background-color: #B9A89B;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    border: none;
    border-radius: 1px;

}

/*********** LOCATION PAGE ************/



/*********** HEADER ************/

header a {
    color: sandybrown;
    text-decoration: none;
}

    
body {
    margin: 0;
    color: saddlebrown;
    font-family: Roboto; 
}
header {
    text-align: left;
    padding: 10px;
    background-color: white;
    color: white;
    font-family: Roboto Slab;
}

ul {
    white-space: nowrap;
}

ul, li {
    list-style: none;
    display: inline;
}

/*********** NAVIGATION BAR ************/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .topnav {
    overflow: hidden;
    background-color: white;
    flex-direction:row;
    display:flex;

}

  .topnav div{
    display:flex;
    flex-direction:row;
}

  .topnav div:last-of-type{
    justify-self: end;
    margin-left: auto;
}
  
  .topnav a {
    float: right;
    color: saddlebrown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav span {
      float: left;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;

  }

  .topnav img {
    height: 40px;
    width: 40px;
    align-self: center;
}

  .topnav a:hover {
    background-color: #ddd;
    color: saddlebrown;
  }
  
  .topnav a.active {
    background-color: saddlebrown;
    color: white;
  }
  
.things {
    align-self: end;
}
  
/*********** FLEXBOX LAYOUTS ************/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    flex-grow: 4;
}
​
.flex-vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

.pic{
    width: 250px;
    height: 250px;
}
​
.new-button {
    background-color:#C9895E;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    border: none;
    border-radius: 20px;
}
 
